<!DOCTYPE html>
<html>
<body>
    <h1>Bienvenue dans le Morpion</h1>
    <p>Appuyer sur "Commencer" pour créer un nouvelle partie</p>
    
    <form action="/newgame" method="POST">
        <button type="submit">Commencer</button>
    </form>
</body>
</html>